
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499682075316'); /* IE9*/
  src: url('iconfont.eot?t=1499682075316#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499682075316') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499682075316') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499682075316#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before { content: "\e60d"; }

.icon-nodejs:before { content: "\e6b7"; }

.icon-gulpwhitetext:before { content: "\e602"; }

.icon-php:before { content: "\e704"; }

.icon-ajax:before { content: "\e622"; }

.icon-youxiang:before { content: "\e60b"; }

.icon-ps:before { content: "\e608"; }

.icon-qq:before { content: "\e604"; }

.icon-dizhi:before { content: "\e607"; }

.icon-canvas:before { content: "\e668"; }

.icon-bootstrap:before { content: "\e502"; }

.icon-angular:before { content: "\e619"; }

.icon-mui:before { content: "\e624"; }

.icon-less:before { content: "\e60f"; }

.icon-Git:before { content: "\e61c"; }

.icon-js:before { content: "\e505"; }

.icon-css:before { content: "\e6d5"; }

.icon-vue:before { content: "\e616"; }

.icon-jquery:before { content: "\e506"; }

.icon-html:before { content: "\e606"; }

.icon-blog:before { content: "\e617"; }

.icon-react:before { content: "\e64f"; }

